
body {
    margin-left: 300px;
}

a {
    display: block;
    text-decoration: none;
    font-size: 100%;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
}

h1 {
    color: green;
    font-size: 105%;
}
#content > div {
    display: none;
}
.codesource {
    border: 3px solid #aaaaff;
    background-color: #ddddff;
}

.coderesult {
    background-color: #ffdddd;
}