
body {
    margin-left: 300px;
}

a {
    display: block
}

#content {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
}

h1 {
    color: green;
    font-size: 12px;
}
.codesource{
    border: 3px solid #aaaaff;
    background-color: #ddddff;
}
.coderesult{
    background-color: #ffdddd;
}