
body {
    margin-left: 180px;
}

a {
    display: block;
    text-decoration: none;
    font-size: 60%;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    height: 1000px;
    width: 160px;
    overflow: scroll;
}

h1 {
    color: #496d89;
    font-size: 60%;
}

h2 {
    color: #496d89; 
}

h3 {
    color: #496d89; 
}

#content > div {
    display: none;
}
.codesource {
    border: 3px solid #aaaaff;
    background-color: #ddddff;
}

.coderesult {
    background-color: #ffdddd;
}